body {
    background-color: rgb(240, 255, 253);
 }
* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}

h3 {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

.hide {
    display: none;
}

/*MENU SCREEN*/

.menu {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

/*GAME SCREEN*/

.tamagotchi {
    position: absolute;
    display: block;
    width: 100%;
    top: 50vh;
    transform: translateY(-50%);
    font-size: 80px;
    text-align: center;
}

#t-body {
    font-family: 'Arial', sans-serif;
    font-size: 70px;
}

#name {
    display: inline-block;
    margin-bottom: 50px;
    color: #fff;
    padding: 5px 10px;
    font-size: 30px;
    background-color: #06a996;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.buttons a,
.menu-buttons a,
#Tic,
#Rock {
    display: inline-block;
    font-size: 40px;
    background-color: transparent;
    border: 2px solid #131313;
    padding: 10px 20px;
    margin: 100px 20px 0px 20px;
    text-decoration: none;
    color: #131313;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color .1s, color .1s;
}

.buttons a:hover,
.menu-buttons a:hover{
    background-color: #131313;
    color: #fafafa;
}

.buttons,
.menu-buttons {
    width: 100%;
    text-align: center;
}

.hp {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.hp span {
    font-weight: 500;
}

.hp p {
    display: inline;
}

#action-info{
    font-size: 30px;
    color: #fafafa;
    padding: 5px;
    background-color: #06a996;
    border-radius: 6px;
}

.side_game {
    margin-top: 200px;
    margin-left: 400px;
}
#Tic:hover ,
#Rock:hover{
    background-color: #131313;
    color: #fafafa;
}